.loading{
  position: fixed;
  z-index: 1;
  margin-left:250px;
  width:300px;
  height:300px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}