.card {
  padding: 15px 20px;
  width: 90%;
  margin: 30px auto;
}
.models-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.models:hover {
  cursor: pointer;
}
.models {
  border: 0.3px solid #ccc;
  margin: 10px;
}
